* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #6e81a7;
    font-family: Arial, Helvetica, sans-serif;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: min-content;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #fff;
    border: 1px solid black;
    margin-left: 80px;
}

#nameBarContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #2e344e;
    color: #fff;
}

#name {
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
}

#minimize {
    cursor: pointer;
    padding: 0 5px 5px 0;
}

#inputContainer {
    display: flex;
    align-self: flex-end;
    width: 100%;
    padding: 8px;
    background-color: lightgray;
}

#textInput {
    min-width: 0;
    flex-grow: 1;
}

#sendBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e344e;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 15px;
    border: none;
    padding: 3px 3px 3px 6px;
    cursor: pointer;
    margin-left: 5px;
}

#sendBtn:hover {
    background-color: #3b436d;
}

#sendBtn img {
    width: 80%;
    height: 80%;
}

#chatHistory {
    display: flex;
    flex-direction: column-reverse;
    height: 250px;
    padding: 5px;
    overflow-y: scroll;
}

.msg {
    position: relative;
    width: max-content;
    max-width: 80%;
    word-wrap: break-word;
    padding: 5px;
    margin: 4px 8px;
    border-radius: 5px;
}

.userMsg {
    background-color: lightblue;
}

.userMsg .msgInner::before {
    content: '';
    position: absolute;
    top: 55%;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 8px solid lightblue;
    border-bottom: 5px solid transparent;
}

.botMsg .msgInner::before {
    content: '';
    position: absolute;
    top: 55%;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid pink;
    border-bottom: 5px solid transparent;
}

.botMsg {
    align-self: flex-end;
    background-color: pink;
}

#sentiment {
    width: 400px;
    overflow: auto;
}

#sentiment table {
    background-color: #fff;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#sentiment table th {
    border: 1px solid black;
    padding: 5px;
    width: 50%;
}

#sentiment table td {
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    word-wrap: break-word;
}

.pointer {
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    #mainContainer {
        flex-direction: column;
    }

    #chatContainer {
        margin: 0 0 20px 0;
    }
}

@media only screen and (max-width: 400px) {
    #sentiment {
        width: 100%;
    }
}
