* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 300px;
    background-color: #fff;
    border: 1px solid black;
}

#inputContainer {
    display: flex;
    width: 100%;
    align-self: flex-end;
}

#textInput {
    min-width: 0;
    flex-grow: 1;
}

#chatHistory {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
}

.msg {
    width: max-content;
    max-width: 80%;
    word-wrap: break-word;
    padding: 3px;
    margin: 3px 0;
}

.userMsg {
    background-color: lightblue;
}

.botMsg {
    align-self: flex-end;
    background-color: pink;
}

#sentiment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    min-height: 1.5rem;
}
